.div-turq-box {
	background-color: #1f252e98;
	color: #fff8e7;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    width: fit-content;
}

.light-blue-background-and-white-font {
	background: #2f4f4f;
	font-family: 'BlexMono Nerd Font Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.white-link {
	color: #fff8e7;
}